<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- Material form register -->
      <div class="crd">
        <mdb-card>

          <mdb-card-header class="info-color white-text text-center py-4">
            <h5>
              <strong>Create Advertisment</strong>
            </h5>
          </mdb-card-header>

          <!--Card content-->
          <mdb-card-body class="px-lg-5 pt-0">

            <!-- Form -->
            <form style="color: #757575;" (ngSubmit)="onSubmit()" #f="ngForm">

              <!-- Land Id -->
              <div class="form-group">
                <label for="id">Land ID</label>
                <input type="text" id="id" class="form-control" mdbInput [(ngModel)]="landId" name="landId"
                  #id="ngModel" required pattern="^[0-9]+$">
                <div class="form-text text-danger" *ngIf="id.touched && !id.valid">
                  <small *ngIf="id.errors.required">Land ID is required!</small>
                  <small *ngIf="id.errors.pattern">ID should contains only numbers!</small>
                </div>
              </div>

              <!-- Size -->
              <div class="form-group">
                <label for="size1">Land size in perchs(Use whole numbers only)</label>
                <input type="text" id="size1" class="form-control" mdbInput [(ngModel)]="size" name="size"
                  #size1="ngModel" required pattern="^[0-9]+$">
                <div class="form-text text-danger" *ngIf="size1.touched && !size1.valid">
                  <small *ngIf="size1.errors.required">Size is required!</small>
                  <small *ngIf="size1.errors.pattern">Size should contains only numbers!</small>
                </div>
              </div>

              <!-- Phone -->
              <div class="form-group">
                <label for="phone1">Contact Number</label>
                <input type="text" id="phone1" class="form-control" mdbInput [(ngModel)]="phone" name="phone"
                  #phone1="ngModel" required pattern="^[0-9]{10}$">
                <div class="form-text text-danger" *ngIf="phone1.touched && !phone1.valid">
                  <small *ngIf="phone1.errors.required">Contact number is required!</small>
                  <small *ngIf="phone1.errors.pattern">Invalid phone number!</small>
                </div>
              </div>

              <!-- Price -->
              <div class="form-group">
                <label for="price1">Price in LKR</label>
                <input type="text" id="price1" class="form-control" mdbInput [(ngModel)]="price" name="price"
                  #price1="ngModel" required pattern="^[0-9]+$">
                <div class="form-text text-danger" *ngIf="price1.touched && !price1.valid">
                  <small *ngIf="price1.errors.required">Price is required!</small>
                  <small *ngIf="price1.errors.pattern">Invalid price!</small>
                </div>
              </div>

              <!-- City -->
              <div class="form-group">
                <label for="city1">City</label>
                <input type="text" id="city1" class="form-control" mdbInput [(ngModel)]="city" name="city" #city1="ngModel" required pattern="^[A-Za-z]+$">
                <div class="form-text text-danger" *ngIf="city1.touched && !city1.valid">
                  <small *ngIf="city1.errors.required">City is required!</small>
                  <small *ngIf="city1.errors.pattern">Invalid city!</small>
                </div>
              </div>

              <!-- Sign up button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!f.valid">Create AD</button>

            </form>
            <!-- Form -->

          </mdb-card-body>

        </mdb-card>
        <!-- Material form register -->
      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
