<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="list-group">
          <div *ngFor="let land of lands">
              <li class="list-group-item list-group-item-success">
                id:  {{land.id}}
                <br/>
                registered time: {{land.regTime}}
                <br/>
                status: {{land.status}}
              </li>
          </div>
          <div *ngIf="lands === undefined || lands.length == 0" >
            <div class="alert alert-danger" role="alert">
              You have no registered lands!
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>