<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <!-- Material form register -->
      <div class="card">

          <div class="card-header text-center bg-info">
            <h5 class="text-light">
              <strong>Admin Registration</strong>
            </h5>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!-- Form -->
            <form style="color: #757575;" (ngSubmit)="onSubmit()" #f="ngForm">

              <!-- First name -->
              <div class="form-group">
                <label for="fn">First name</label>
                <input type="text" id="fn" class="form-control" mdbInput [(ngModel)]="firstName" name="firstName"
                  #fn="ngModel" required pattern="^[A-Za-z]+$">
                <div class="form-text text-danger" *ngIf="fn.touched && !fn.valid">
                  <small *ngIf="fn.errors.required">First name is required!</small>
                  <small *ngIf="fn.errors.pattern">Invalid name!</small>
                </div>
              </div>

              <!-- Last name -->
              <div class="form-group">
                <label for="ln">Last name</label>
                <input type="text" id="ln" class="form-control" mdbInput [(ngModel)]="lastName" name="lastName"
                  #ln="ngModel" required pattern="^[A-Za-z]+$">
                <div class="form-text text-danger" *ngIf="ln.touched && !ln.valid">
                  <small *ngIf="ln.errors.required">Last name is required!</small>
                  <small *ngIf="ln.errors.pattern">Invalid name!</small>
                </div>
              </div>

              <!-- NIC -->
              <div class="form-group">
                <label for="n">NIC</label>
                <input type="text" id="n" class="form-control" mdbInput [(ngModel)]="nic" name="nic" #n="ngModel"
                  required pattern="^[0-9]{9}V$">
                <div class="form-text text-danger" *ngIf="n.touched && !n.valid">
                  <small *ngIf="n.errors.required">NIC is required!</small>
                  <small *ngIf="n.errors.pattern">Invalid NIC!</small>
                </div>
              </div>

              <!-- email -->
              <div class="form-group">
                <label for="e">Email</label>
                <input type="email" id="e" class="form-control" mdbInput [(ngModel)]="email" name="email" #e="ngModel"
                  required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                <div class="form-text text-danger" *ngIf="e.touched && !e.valid">
                  <small *ngIf="e.errors.required">Email is required!</small>
                  <small *ngIf="e.errors.pattern">Invalid email!</small>
                </div>
              </div>

              <!-- Pasword -->
              <div class="form-group">
                <label for="p">Password</label>
                <input type="password" id="p" class="form-control" mdbInput [(ngModel)]="password" name="password"
                  #p="ngModel" required pattern="^.{6,}">
                <div class="form-text text-danger" *ngIf="p.touched && !p.valid">
                  <small *ngIf="p.errors.required">Password is required!</small>
                  <small *ngIf="p.errors.pattern">Password should have at least 6 characters!</small>
                </div>
              </div>

              <!-- Pasword -->
              <div class="form-group">
                <label for="p1">Password(again)</label>
                <input type="password" id="p1" class="form-control" mdbInput [(ngModel)]="password1" name="password1"
                  #p1="ngModel" required pattern="^.{6,}" [disabled]="!p.valid">
                <div class="form-text text-danger" *ngIf="p1.touched && !p1.valid">
                  <small *ngIf="p1.errors.required">Password is required!</small>
                  <small *ngIf="p1.errors.pattern">Password should have at least 6 characters!</small>
                </div>
                <div class="form-text text-danger" *ngIf="p1.valid">
                  <small *ngIf="password!==password1">Passwords are not equal!</small>
                </div>
              </div>


              <!-- Sign up button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit"
                [disabled]="!f.valid">Register</button>

            </form>
            <!-- Form -->

          </div>

      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
