<div class="container">
  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6">

      <form class="form-inline" (ngSubmit)="onSubmit()">
        <div class="form-group mx-sm-3 mb-2">
          <label for="id" class="sr-only">Password</label>
          <input type="text" class="form-control" id="inputPassword2" placeholder="ID" [(ngModel)]="landId" name="landId">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Get History</button>
      </form>

    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">



      <div *ngIf="previousLand">
        <div class="alert alert-danger" role="alert">
          This land is divided from Land No-{{previousLand}}.
          <br />
          Search for Land No-{{previousLand}} to get more history.
        </div>
      </div>

      <ul class="list-group">
        <div *ngIf="lands">
          <div *ngIf="!previousLand">
            <li class="list-group-item list-group-item-danger">
              End of History!
            </li>
          </div>
        </div>
        <div *ngFor="let land of lands;index as i">
          <li class="list-group-item list-group-item-success" *ngIf="land.status!=='DIVIDED'">
            owner {{i+1}} --> {{land.owner.slice(-10,-1)}}V
            <br />
            registered time: {{land.regTime}}
          </li>
        </div>
      </ul>

      <div *ngIf="currentOwner">
        <div class="alert alert-danger" role="alert">
          Current owner is {{currentOwner}}
          <br />
          End of History!
        </div>
      </div>

      <div *ngIf="childLands">
        <div class="alert alert-danger" role="alert">
          This land has divided into following lands.
          <div *ngFor="let id of childLands">
            Land ID --> {{id}}
          </div> 
        </div>
      </div>

    </div>

    <div class="col-md-3"></div>
  </div>
</div>
