<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
       

          <div class="card-header text-center bg-info">
            <h5 class="text-light">
              <strong>Sign In</strong>
            </h5>
          </div>


          <!--Card content-->
          <div class="card-body">

            <!-- Form -->
            <form style="color: #757575;" (ngSubmit)="onSubmit()" #f="ngForm">
              <!-- NIC -->
              <div class="form-group">
                <label for="nic">NIC</label>
                <input type="text" name="nic" id="nic" class="form-control" mdbInput [(ngModel)]="nic" #nic1="ngModel" required pattern="^[0-9]{9}V$">
                <div class="form-text text-danger" *ngIf="nic1.touched && !nic1.valid">
                  <small *ngIf="nic1.errors.required">NIC is required!</small>
                  <small *ngIf="nic1.errors.pattern">Invalid NIC format!</small>
                </div>
              </div>


              <!-- Password -->
              <div class="form-group">
                <label for="materialLoginFormPassword">Password</label>
                <input type="password" name="password" id="pass" class="form-control" mdbInput [(ngModel)]="password" #pass="ngModel" required pattern="^.{6,}">
                <div class="form-text text-danger" *ngIf="pass.touched && !pass.valid">
                  <small *ngIf="pass.errors.required">Password is required!</small>
                  <small *ngIf="pass.errors.pattern">Password should have at least 6 characters!</small>
                </div>
              </div>

              <div class="d-flex justify-content-around">
                <div>
                  <!-- Forgot password -->
                  <a href="">Forgot password?</a>
                </div>
              </div>

              <!-- Sign in button -->
              <button mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!f.valid">Sign in</button>
              <!-- Register -->

              <p>Not a member?
                <a routerLink="/signup">Signup</a>
              </p>

            </form>
            <!-- Form -->

          </div>

   

      </div>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
