<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <ul class="list-group">
        <div *ngFor="let user of users">
            <li class="list-group-item list-group-item-success">{{user.NIC}}</li>
        </div>
        <div *ngIf="users === undefined || users.length == 0" >
          <div class="alert alert-danger" role="alert">
            No registered users!
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>